* {
  /* Remove Gray Highlight When Tapping Links in Mobile Safari */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  box-sizing: border-box;
}

.hideElement {
  display: none !important;
}

body {
  background-color: silver;
}
nav {
  height: 70px;
  background-color: #27b2c8;
  position: relative;
}
.wallLogo {
  width: 54px;
  margin: 8px 0 0 8px;
}
.logoText {
  position: absolute;
  left: 64px;
  top: 26px;
  font-family: "Baloo 2", cursive;
  font-size: 20px;
}
.navLoginBtn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 72px;
  background-color: #bbf2fb;
  // background: rgba(149, 240, 255, 0.7);
}
.navLoginIcon {
  font-size: 28px;
  text-align: center;
  display: block;
  padding-top: 12px;
  color: #202020;
}
.navLoginText {
  text-align: center;
  margin-top: 3px;
  font-size: 14px;
}
.currentUser {
  background-color: #0f7b8c;
  height: 26px;
  font-size: 14px;
  padding: 4px 0 0 14px;
  font-style: italic;
}
.currentUserName {
  font-weight: bold;
  color: whitesmoke;
}
.wallFeed {
  padding: 12px;
}
.newPost {
  border-radius: 20px;
  background: white;
  // border: 2px solid gainsboro;
  margin-bottom: 12px;
}
.wallPost {
  // height: 180px;
  border-radius: 20px;
  background: #bbf2fb;
  margin-bottom: 12px;
}
.wallPostUser {
  background-color: #27b2c8;
  height: 40px;
  border-radius: 20px 20px 0 0;
  padding: 12px 0 0 14px;
  font-style: italic;
  font-size: 14px;
}
.wallPostUserName {
  font-weight: bold;
}
.wallPostMessage {
  padding: 14px 14px 16px 14px;
  font-size: 14px;
  line-height: 18px;
}
.newPostInput {
  border: none;
  display: block;
  width: 100%;
  border-radius: 18px 18px 0 0;
  padding: 10px 14px;
  resize: none;
  font-size: 14px;
}
.postBtn {
  height: 44px;
  width: 100%;
  border: none;
  background-color: #62ca62;
  border-radius: 0 0 18px 18px;
  font-family: "Baloo 2", cursive;
  font-size: 18px;
}
.loginOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.loginWindow {
  position: relative;
  background: white;
  // width: 100%;
  width: 280px;
  margin: 0 auto;
  padding: 40px 20px 30px 20px;
  border-radius: 20px;
}
.loginInput,
.signUpInput {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid silver;
  border-radius: 6px;
  padding-left: 10px;
  font-size: 14px;
}
// .loginInput:nth-child(2) {
//   margin-bottom: 20px;
// }
// .loginInput:first-child {
//   margin-bottom: 10px;
// }
.loginWindowBtns {
  display: block;
  width: 170px;
  height: 38px;
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  color: white;
}
#loginAccountBtn {
  background-color: #27b2c8;
  margin-top: 10px;
  margin-bottom: 10px;
}
#createAccountBtn,
#signUpBtn {
  background-color: #62ca62;
}
#signUpBtn {
  margin-top: 10px;
}
.closeLoginWindowBtn,
.closeSignUpWindowBtn {
  background-color: #a51f1f;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -16px;
  left: -12px;
  border-radius: 50%;
  border: none;
  color: whitesmoke;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUpWindow {
  position: relative;
  background: white;
  // width: 100%;
  width: 280px;
  margin: 0 auto;
  padding: 40px 20px 30px 20px;
  border-radius: 20px;
}
.nameInput {
  width: 50%;
  border: 1px solid silver;
  border-radius: 6px;
  height: 40px;
  padding-left: 10px;
  font-size: 14px;
}
.nameInput:first-child {
  margin-right: 10px;
}
.nameInputField {
  margin-bottom: 10px;
  display: flex;
}
// .signUpInput {
//   border: 1px solid silver;
//   border-radius: 6px;
//   height: 40px;
//   width: 100%;
//   margin-bottom: 10px;
//   padding-left: 10px;
//   font-size: 14px;
// }
// .signUpInput:last-of-type {
//   margin-bottom: 20px;
// }
.inputErrors {
  font-size: 14px;
}
